db.sqlite3
/newslettter/migrations
/contacts/migrations
/newslettter/__pycache__
/contacts/__pycache__
/accounts/migrations
/accounts/__pycache__
/post/migrations
/post/__pycache__
/KnowledgeReplica/__pycache__
/media
/static
.vscode
.settings
*.pyc
.DS_Store
_build
.*.sw[po]
*.egg-info
dist
build
MANIFEST
env
