{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.username }}</h2>

          {% if contacts %}
            <h3 class="mt-5 text-primary">Your blog list</h3>
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Operation-1</th>
                  <th scope="col">Operation-2</th>
                  <th scope="col">Operation-3</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.title }}</td>
                    <td>
                      <a class="btn btn-success" href="{{ contact.get_absolute_url }}">View</a>
                    </td>
                    <td>
                      <a class="btn btn-primary" href="{% url 'post-update' id=contact.id %}">Update</a>
                    </td>
                    <td>
                      <a class="btn btn-danger" href="{% url 'post-delete' id=contact.id %}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You have not made any inquiries</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
