{% extends 'base.html' %}
{% load static %}

{% block content %}


 


<section class="featured-posts no-padding-top">
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
              <header class="row mt-5 mb-4"> 
                <h2 class="text-primary">Featured Blog</h2>
                <p class="text-big"></p>
              </header>
            
              <!-- post -->
              {% for post in object_list %}
              <div class="row mt-3 mb-4">
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                  </div><a href="{{ post.get_absolute_url }}">
                    <h3 class="h4">{{ post.title }}</h3></a>
                  <p class="text-muted">{{ post.overview }}</p>
                  <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ post.author.user.username }}</span></div>
                    </a>
                    <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </footer>
                </div>
              </div>
              <hr>
              {% endfor %}

              <header class="row mt-5 mb-4"> 
                <h2 class="text-primary">Latest from the blog</h2>
                <p class="text-big"></p>
              </header>
            {% for post in latest %}
              <div class="row mt-3 mb-2">
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                  </div><a href="{{ post.get_absolute_url }}">
                    <h3 class="h4">{{ post.title }}</h3></a>
                  <p class="text-muted">{{ post.overview }}</p>
                  <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ post.author.user.username }}</span></div>
                    </a>
                    <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </footer>
                </div>
              </div>
              <hr>
              {% endfor %}
            
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>
</section>





    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}
